* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial,sans-serif;
    color: black;
    line-height: 1.55;
    background-color: #cac9c9;
}
header{
    background-color: #f26a6a;
    color: black;
    text-align: center;
    padding: 30px;
}
nav {
    width: 200px;
    background-color: #702f2f;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 120px;
}
nav ul{
    list-style: none;
}
nav ul li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: black;
}
nav ul li a:active{
    background-color: rgb(98, 186, 21);
}
main {
    width: 70%;
    max-width: 1000px;
    margin: 30px auto;
    margin-left:300px;
    min-height: 600px;
    margin-bottom: 15px;
    position: relative;
    padding: 20px;

}

.static {
    text-align: center;
    background-color: #444;
    position: static;
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.relative {
    background-color: #e67e22;
    position: relative;
    top: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    border:2px solid black;
}

.absolute {
    background-color: #e74c3c;
    position: absolute;
    top: 400px;
    width: 100px;
    margin-left: 150    px;
    height: 100px;
    text-align: center;
    border-color: black;
    border-width: 2px;
    border-style:solid;
}

.fixed {
    background-color: #2ecc71;
    position: fixed;
    top: 200px;
    right: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid black
}
.sticky {
    background-color: #736a9b;
    position: sticky;
    top: 20px;
    margin-left: 500px; 
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid black
}
